*{
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}


body{
    background-color: rgb(32, 30, 30);
    margin: 0px;
    overflow: hidden;
    box-sizing: border-box;
    
}

#frame{
    background-image: url("frame.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    display: flex;
    background-color: green;
    height: 90vh;
    width: 100vw;
    

}

#page{
    
    position: relative;
    top: 25%;
    left: 16%;
    width: 68%;
    height: 62vh;
    background-color: beige;
    margin: 0px;
    overflow-y: scroll;
}



#footer{
    background-color: beige;
    height: 20vh;
    padding-top: 0px;
    
    

}

#ui{
    background-color: pink;
    height: 7vh;
    
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 10px;
    flex: 1;
    
}

#input{
    background-color: rgb(240, 236, 231);
    height: 70%;
    width: 60%;
    font-size: xx-large;
    border-radius: 10px;
    margin-top: .6%;
    margin-left: 21%;
    
    
    
    
    
    
}

/*  SMALL SCREENS  

@media only screen  and (max-width: 610px){


    #board{
        height: 350px;
    }

    #page{
        
        margin-left:20px;
        margin-right: 20px;
        height: 310px;
        top: 20px;

    }

    #input{
        width: 200px;
        background-color: blueviolet;

    }

    body{
        background-color: bisque;
        overflow: visible;
    }
    #footer{
        padding: 0px;
    }

        
   #ui{
    display: flexbox;
    
    height:min-content;
   }
    
    
}